In [30]:
from kerykeion import AstrologicalSubject
from datetime import timedelta, date
import numpy as np
from scipy.stats import entropy
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
column_names = ['Month', 'Day', 'Year','Time','Sun House','Moon House','Mercury House','Venus House','Mars House','Jupiter House','Saturn House', 'Uranus House', 'Neptune House']
df = pd.DataFrame(columns=column_names)

In [32]:
translate = {
  "First_House": 1,
  "Second_House": 2,
  "Third_House": 3,
  "Fourth_House": 4,
  "Fifth_House": 5,
  "Sixth_House": 6,
  "Seventh_House": 7,
  "Eighth_House": 8,
  "Ninth_House": 9,
  "Tenth_House": 10,
  "Eleventh_House": 11,
  "Twelfth_House": 12
}

In [33]:
years=np.random.randint(1820,2023,10)
for i in years:
    start_date = datetime(i,1,1)
    for j in range(100):
        rand=np.random.randint(0,364)
        current=start_date+timedelta(days=rand)
        minutes = np.random.randint(0, 1439, 12)
        month=current.month
        day=current.day
        for k in minutes:
            hour=k//60
            minute=k%60
            year=current.year
            month=current.month
            day=current.day
            subject= AstrologicalSubject("Tejan", i, month, day, hour, minute, city="Chenai", nation="IN")
            sun=subject.sun
            sunHouse=sun['house']
            moon=subject.moon
            moonHouse=moon['house']
            mercury=subject.mercury
            mercuryHouse=mercury['house']
            venus=subject.venus
            venusHouse=venus['house']
            mars=subject.mars
            marsHouse=mars['house']
            jupiter=subject.jupiter
            jupiterHouse=jupiter['house']
            saturn=subject.saturn
            saturnHouse=saturn['house']
            uranus=subject.uranus
            uranusHouse=uranus['house']
            neptune=subject.neptune
            neptuneHouse=neptune['house']
            newEntry={'Month':month, 'Day':day, 'Year':year,'Time':k,'Sun House':translate[sunHouse],'Moon House':translate[moonHouse],'Mercury House':translate[mercuryHouse],'Venus House':translate[venusHouse],'Mars House':translate[marsHouse],'Jupiter House':translate[jupiterHouse],'Saturn House':translate[saturnHouse], 'Uranus House':translate[uranusHouse], 'Neptune House':translate[uranusHouse]}
            df = pd.concat([df, pd.DataFrame([newEntry])], ignore_index=True)

In [34]:
df['Hour']=df['Time']//60
df['Minute']=df['Time']%60

In [35]:
df=df[['Month', 'Day', 'Year','Hour','Minute','Time','Sun House','Moon House','Mercury House','Venus House','Mars House','Jupiter House','Saturn House', 'Uranus House', 'Neptune House']]

In [36]:
df.to_csv('DataFrame1.csv', index=False)

In [43]:
mutual_info=np.zeros((12,12))
for i in range (1,13):
    for j in range (1,13):
        adjusted_df=df[(df['Moon House']==i) & (df['Neptune House']==j)]
        mutual_info[i-1,j-1]=adjusted_df.shape[0]

In [44]:
mutual_info

array([[ 84.,  67.,  99.,  70.,  85.,  70., 105., 103.,  83.,  74., 100.,
         77.],
       [ 84.,  74.,  66.,  80.,  65.,  85.,  86.,  98.,  92.,  94.,  87.,
         77.],
       [ 79., 107.,  71.,  69.,  76.,  44.,  92.,  75.,  87.,  78., 106.,
         89.],
       [ 85.,  63.,  97.,  63.,  66., 104.,  91.,  83.,  85., 102.,  91.,
         90.],
       [ 77.,  99.,  76.,  62.,  84.,  78.,  81.,  85.,  73.,  93., 105.,
         67.],
       [ 96.,  90.,  78.,  80.,  85.,  92.,  73.,  99.,  75.,  76.,  84.,
         83.],
       [109.,  79.,  82.,  80.,  85.,  79.,  84.,  88.,  86.,  84.,  63.,
         91.],
       [ 78.,  97.,  91.,  91.,  86.,  79.,  88.,  86.,  64.,  89.,  74.,
         86.],
       [ 77.,  82.,  94.,  81., 108.,  91.,  79., 111.,  72.,  70.,  72.,
         80.],
       [ 88.,  77.,  83., 100.,  82.,  81.,  80.,  81.,  98.,  76.,  59.,
         97.],
       [ 68.,  64.,  85.,  72., 104.,  69.,  97.,  91.,  57.,  85.,  91.,
         60.],
       [ 73., 100.,  79.,  67.,  81.,  90.,  91.,  91.,  86.,  78.,  87.,
        107.]])