In [1]:
from kerykeion import AstrologicalSubject
from datetime import timedelta, date, datetime
import numpy as np
from scipy.stats import entropy
import matplotlib.pyplot as plt
import pandas as pd
import random

In [2]:
translate = {
  "Ari": 1,
  "Tau": 2,
  "Gem": 3,
  "Can": 4,
  "Leo": 5,
  "Vir": 6,
  "Lib": 7,
  "Sco": 8,
  "Sag": 9,
  "Cap": 10,
  "Aqu": 11,
  "Pis": 12
}

In [19]:
column_names = ['DateTime','Sun','Moon','Mercury','Venus','Mars','Jupiter','Saturn', 'Uranus', 'Neptune', 'Independent1', 'Indpendent2', 'Loosely1','Loosely2', 'Strongly1', 'Strongly2']
df = pd.DataFrame(columns=column_names)

In [20]:
years=np.arange(1973,2024)
for i in years:
    start_date = datetime(i,1,1)
    for j in range(300):
        rand=np.random.randint(0,364)
        current=start_date+timedelta(days=rand)
        minutes = np.random.randint(60, 1379, 12)
        month=current.month
        day=current.day
        for k in minutes:
            hour=k//60
            minute=k%60
            year=current.year
            month=current.month
            day=current.day
            subject= AstrologicalSubject("Subject", year, month, day, hour, minute, lng=80, lat=13, city="Chennai", nation = "IN")
            loose1=np.random.uniform(1, 10) ##random double between 1 and 10
            loose2= loose1**2 + np.random.normal(0, 10) ## with noise
            strong1= random.randint(2, 21)
            strong2=2* strong1+ np.random.uniform(0,2)
            newEntry={'DateTime': current,
                'Sun':translate[subject.sun.sign],
                'Moon':translate[subject.moon.sign],
                'Mercury':translate[subject.mercury.sign],
                'Venus':translate[subject.venus.sign],
                'Mars':translate[subject.mars.sign],
                'Jupiter':translate[subject.jupiter.sign],
                'Saturn':translate[subject.saturn.sign],
                'Uranus':translate[subject.uranus.sign],
                'Neptune':translate[subject.neptune.sign],
                'Independent1': random.random(),
                'Indpendent2': random.uniform(0, 5),
                'Loosely1': loose1,
                'Loosely2': loose2,
                'Strongly1': strong1,
                'Strongly2':strong2
                 }
            df = pd.concat([df, pd.DataFrame([newEntry])], ignore_index=True)

In [23]:
df.to_csv('Part4.csv', index=False)

In [22]:
df.shape

(183600, 16)

In [21]:
df.head()

,DateTime,Sun,Moon,Mercury,Venus,Mars,Jupiter,Saturn,Uranus,Neptune,Independent1,Indpendent2,Loosely1,Loosely2,Strongly1,Strongly2
0,1973-09-07,6,10,6,7,2,11,4,7,9,0.307142,4.512586,4.970611,19.327995,10,20.637745
1,1973-09-07,6,10,6,7,2,11,4,7,9,0.153247,4.348566,4.728199,30.615652,19,38.301504
2,1973-09-07,6,10,6,7,2,11,4,7,9,0.624126,4.809216,6.784245,58.485453,20,41.633787
3,1973-09-07,6,10,6,7,2,11,4,7,9,0.902024,1.566954,3.699246,12.015977,10,21.918827
4,1973-09-07,6,10,6,7,2,11,4,7,9,0.751627,2.319070,1.841509,-4.325041,19,38.025575