In [1]:
from kerykeion import AstrologicalSubject
from datetime import timedelta, date, datetime
import numpy as np
from scipy.stats import entropy
import matplotlib.pyplot as plt
import pandas as pd
import random

In [2]:
translate = {
  "First_House": 1,
  "Second_House": 2,
  "Third_House": 3,
  "Fourth_House": 4,
  "Fifth_House": 5,
  "Sixth_House": 6,
  "Seventh_House": 7,
  "Eighth_House": 8,
  "Ninth_House": 9,
  "Tenth_House": 10,
  "Eleventh_House": 11,
  "Twelfth_House": 12
}

In [3]:
column_names = ['DateTime','Sun','Moon','Mercury','Venus','Mars','Jupiter','Saturn', 'Uranus', 'Neptune', 'Independent1', 'Indpendent2', 'Loosely1','Loosely2', 'Strongly1', 'Strongly2']
df = pd.DataFrame(columns=column_names)

In [4]:
years=np.arange(1820,2024)
for i in years:
    start_date = datetime(i,1,1)
    for j in range(300):
        rand=np.random.randint(0,364)
        current=start_date+timedelta(days=rand)
        minutes = np.random.randint(0, 1439, 12)
        month=current.month
        day=current.day
        for k in minutes:
            hour=k//60
            minute=k%60
            year=current.year
            month=current.month
            day=current.day
            subject= AstrologicalSubject("Subject", year, month, day, hour, minute, lng=80, lat=13, city="Chennai", nation = "IN")
            loose1=np.random.uniform(1, 10) ##random double between 1 and 10
            loose2= loose1**2 + np.random.normal(0, 10) ## with noise
            strong1= random.randint(2, 21)
            strong2=2* strong1+ np.random.uniform(0,2)
            newEntry={'DateTime': date,
                'Sun':translate[subject.sun.house],
                'Moon':translate[subject.moon.house],
                'Mercury':translate[subject.mercury.house],
                'Venus':translate[subject.venus.house],
                'Mars':translate[subject.mars.house],
                'Jupiter':translate[subject.jupiter.house],
                'Saturn':translate[subject.saturn.house],
                'Uranus':translate[subject.uranus.house],
                'Neptune':translate[subject.neptune.house],
                'Independent1': random.random(),
                'Indpendent2': random.uniform(0, 5),
                'Loosely1': loose1,
                'Loosely2': loose2,
                'Strongly1': strong1,
                'Strongly2':strong2
                 }
            df = pd.concat([df, pd.DataFrame([newEntry])], ignore_index=True)

NonExistentTimeError: 1941-10-01 00:25:00

In [18]:
df.to_csv('WXML_SP24_DF_FULL.csv.gz', index=False, compression='gzip')

,DateTime,Sun,Moon,Mercury,Venus,Mars,Jupiter,Saturn,Uranus,Neptune,Independent1,Indpendent2,Loosely1,Loosely2,Strongly1,Strongly2
0,<class 'datetime.date'>,5,10,6,4,9,7,5,1,1,0.064702,1.083527,4.374974,13.683619,11,22.502849
1,<class 'datetime.date'>,10,3,11,10,2,12,10,6,6,0.670134,2.535399,7.062564,35.979865,18,37.510774
2,<class 'datetime.date'>,7,12,8,6,11,8,7,3,2,0.630088,1.081282,5.894091,33.662793,15,31.365716
3,<class 'datetime.date'>,10,3,10,9,2,11,10,5,5,0.957249,3.928375,3.256921,11.204863,20,41.929617
4,<class 'datetime.date'>,7,1,8,7,11,9,8,3,3,0.185510,1.280871,5.690914,35.236462,9,18.531231

In [1]:
df.shape

NameError: name 'df' is not defined